@import "../../utils/properties.css";

.colorPalleteBoxContainer {
  padding: 20px 40px 20px 0;
  width: 232px;
}

.colorPalleteBoxContainer > div:first-child {
  border-radius: 8px 8px 0 0;
}

.colorPalleteBoxContainer> div:last-child {
  border-radius: 0 0 8px 8px;
}

.colorPalleteBoxContainer > div {
  height: 76px;
  width: 200px;
  color: var(--color-km-white);
  padding: 0 16px;
}

.colorPalleteBoxContainer > div:nth-child(n + 7) {
  color: var(--color-km-black);
}

.colorPalleteBoxName {
  padding: 12px 0 0;
  font-size: 1.1rem;  
}

.colorPalleteBoxColorCode {
  padding: 6px 0 0;
  font-size: 0.8rem;
}

